###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None  # default='warn'

In [41]:
import geodict
GNRC = geodict.GNRC
KY = geodict.KY
censusplaces = geodict.censusplaces

# American Community Survey 2006-2010 5 Year Estimates

In [43]:
#read in API key
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [44]:
#variable containing Census API key
api_key = keys_dict_2['CENSUS']

## Read In Data Guide

In [45]:
dataguide = pd.read_csv('../../Data Guides/DATA GUIDE ACS 2010 5YR.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [46]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
dg3 = dataguide[dataguide['ID'].between(93, 138)]
dg4 = dataguide[dataguide['ID'].between(139, 184)]
dg5 = dataguide[dataguide['ID'].between(185, 230)]
dg6 = dataguide[dataguide['ID'].between(231, 276)]
dg7 = dataguide[dataguide['ID'].between(277, 322)]
dg8 = dataguide[dataguide['ID'].between(323, 368)]
dg9 = dataguide[dataguide['ID'].between(369, 414)]
dg10 = dataguide[dataguide['ID'].between(415, 460)]
dg11 = dataguide[dataguide['ID'].between(461, 506)]
dg12 = dataguide[dataguide['ID'].between(507, 552)]
dg13 = dataguide[dataguide['ID'].between(553, 598)]
dg14 = dataguide[dataguide['ID'].between(599, 644)]
dg15 = dataguide[dataguide['ID'].between(645, 690)]
dg16 = dataguide[dataguide['ID'].between(691, 736)]
dg17 = dataguide[dataguide['ID'].between(737, 782)]
dg18 = dataguide[dataguide['ID'].between(783, 828)]
dg19 = dataguide[dataguide['ID'].between(829, 874)]
dg20 = dataguide[dataguide['ID'].between(875, 920)]
dg21 = dataguide[dataguide['ID'].between(921, 966)]
dg22 = dataguide[dataguide['ID'].between(967, 1012)]
dg23 = dataguide[dataguide['ID'].between(1013, 1058)]
dg24 = dataguide[dataguide['ID'].between(1059, 1104)]
dg25 = dataguide[dataguide['ID'].between(1105, 1150)]
dg26 = dataguide[dataguide['ID'].between(1151, 1196)]
dg27 = dataguide[dataguide['ID'].between(1197, 1242)]
dg28 = dataguide[dataguide['ID'].between(1243, 1287)]
dg29 = dataguide[dataguide['ID'].between(1288, 1332)]
dg30 = dataguide[dataguide['ID'].between(1333, 1377)]
dg31 = dataguide[dataguide['ID'].between(1378, 1422)]
dg32 = dataguide[dataguide['ID'].between(1423, 1467)]
dg33 = dataguide[dataguide['ID'].between(1468, 1512)]
dg34 = dataguide[dataguide['ID'].between(1513, 1557)]
dg35 = dataguide[dataguide['ID'].between(1558, 1602)]
dg36 = dataguide[dataguide['ID'].between(1603, 1647)]
dg37 = dataguide[dataguide['ID'].between(1648, 1692)]
dg38 = dataguide[dataguide['ID'].between(1693, 1737)]
dg39 = dataguide[dataguide['ID'].between(1738, 1782)]
dg40 = dataguide[dataguide['ID'].between(1783, 1827)]
dg41 = dataguide[dataguide['ID'].between(1828, 1872)]
dg42 = dataguide[dataguide['ID'].between(1873, 1917)]
dg43 = dataguide[dataguide['ID'].between(1918, 1962)]
dg44 = dataguide[dataguide['ID'].between(1963, 2007)]
dg45 = dataguide[dataguide['ID'].between(2008, 2052)]
dg46 = dataguide[dataguide['ID'].between(2053, 2097)]
dg47 = dataguide[dataguide['ID'].between(2098, 2142)]
dg48 = dataguide[dataguide['ID'].between(2143, 2187)]
dg49 = dataguide[dataguide['ID'].between(2188, 2232)]
dg50 = dataguide[dataguide['ID'].between(2233, 2277)]
dg51 = dataguide[dataguide['ID'].between(2278, 2322)]
dg52 = dataguide[dataguide['ID'].between(2323, 2367)]
dg53 = dataguide[dataguide['ID'].between(2368, 2411)]

In [47]:
dfs = [dg1, dg2, dg3, dg4, dg5, dg6, dg7, dg8, dg9, dg10, dg11, dg12, dg13, dg14, dg15, dg16, dg17, dg18, dg19, dg20, dg21, dg22, dg23, dg24, dg25, 
       dg26, dg27, dg28, dg29, dg30, dg31, dg32, dg33, dg34, dg35, dg36, dg37, dg38, dg39, dg40, dg41, dg42, dg43, dg44, dg45, dg46, dg47, dg48, dg49,
       dg50, dg51, dg52, dg53]

In [48]:
droppers = ['ID', 'Data Point']
for df in dfs:
    df.drop(droppers, axis = 1, inplace = True)

In [49]:
#url string and list parameters for column head and tail
url_str= 'https://api.census.gov/data/2010/acs/acs5?key='+api_key
head1 = 'NAME' 
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'

In [50]:
results = []
for df in dfs:
    dataguide = df
    for col_name, col_data in df.iteritems():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list = deque(col_list)
        col_list.appendleft(head2)
        col_list.appendleft(head1)
        predicates= {} #call for all counties in state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:47"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
        predicates= {} #call for all counties in state of KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:21"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
        df = pd.concat([df, kycos], axis = 0)
        predicates= {} #call for all places in TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
        df = pd.concat([df, places], axis = 0)
        predicates= {} #call for all places in KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:21"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
        df = pd.concat([df, places], axis = 0)
        col_list.remove(tail_cols2) #adjust the column list for different formats of geos
        predicates= {} #call for state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, state], axis = 0)
        predicates= {} #call for US
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "us:*"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, national], axis = 0)
        results.append(df)
new_df = pd.concat(results, axis = 1)
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)
print('Okay Finished')

Okay Finished

In [51]:
new_df.head()

,NAME,GEO_ID,hhsize_avg,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhtype_total_series,hhtype_familyhh,hhtype_familyhh_marriedcouplefam,hhtype_familyhh_otherfam,hhtype_familyhh_malenospouse,hhtype_familyhh_femalenospouse,hhtype_nonfamhh,hhtype_nonfamhh_householderalone,hhtype_nonfamhh_householdernotalone,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,housing_medianvalue,housingcost_medvalue_ownerocc,housingcost_medvalue_ownerocc_wmortgage,housingcost_medvalue_ownerocc_womortgage,housingcost_mediangrossrent_renteroccupied,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,foreignborn_total,fb_europe,fb_asia,fb_africa,fb_oceania,fb_americas,fb_am_latinamerica,fb_am_northern,classworker_total_series,classworker_privateforprofit,classworker_privateforprofit_employee,classworker_privateforprofit_selfemployedincorporatedbusiness,classworker_privatenotforprofit,classworker_localgovt,classworker_stategovt,classworker_federalgovt,classworker_selfemployednonincorporatedbusiness,classworker_unpaidfamilyworker,percapita_income,vehicles_tenurebyvehicles_total_series,vehicles_ownerocc_total,vehicles_ownerocc_novehicle,vehicles_ownerocc_1vehicle,vehicles_ownerocc_2vehicles,vehicles_ownerocc_3vehicles,vehicles_ownerocc_4vehicles,vehicles_ownerocc_5+vehicles,vehicles_renterocc_total,vehicles_renterocc_novehicle,vehicles_renterocc_1vehicle,vehicles_renterocc_2vehicles,vehicles_renterocc_3vehicles,vehicles_renterocc_4vehicles,vehicles_renterocc_5+vehicles,industry_sexbyindustrycivilianpop_total_series,industry_sexbyindustrycivilianpop_totalmale,industry_m_agriculture_forestry_fishing_hunting_mining,industry_m_agmining_agriculture_forestry_fishing_hunting,industry_m_agmining_mining_quarrying_oilandgas,industry_m_construction,industry_m_manufacturing,industry_m_wholesaletrade,industry_m_retailtrade,industry_m_transportation_warehousing_utilities,industry_m_transut_transportation_warehousing,industry_m_transut_utilities,industry_m_information,industry_m_finance_insurance_realestate_rental,industry_m_finrent_finance_insurance,industry_m_finrent_realestate_rental,industry_m_professional_scientific_managementadmin_waste,industry_m_profwaste_professional_scientific_technicalservices,industry_m_profwaste_managementcompaniesenterprises,industry_m_adminandsupportandwaste,industry_m_educational_healthcare_socialassistance,industry_m_edsocial_educational,industry_m_edsocial_healthcare_socialassistance,industry_m_arts_entertainmentrec_accommodation_food,industry_m_artsaccom_arts_entertainmentrec,industry_m_artsaccom_accommodation_food,industry_m_otherservices_notpublicadmin,industry_m_publicadmin,industry_sexbyindustrycivilianpop_totalfemale,industry_f_agriculture_forestry_fishing_hunting_mining,industry_f_agmining_agriculture_forestry_fishing_hunting,industry_f_agmining_mining_quarrying_oilandgas,industry_f_construction,industry_f_manufacturing,industry_f_wholesaletrade,industry_f_retailtrade,industry_f_transportation_warehousing_utilities,industry_f_transut_transportation_warehousing,industry_f_transut_utilities,industry_f_information,industry_f_finance_insurance_realestate_rental,industry_f_finrent_finance_insurance,industry_f_finrent_realestate_rental,industry_f_professional_scientific_managementadmin_waste,industry_f_profwaste_professional_scientific_technicalservices,industry_f_profwaste_managementcompaniesenterprises,industry_f_adminandsupportandwaste,industry_f_educational_healthcare_socialassistance,industry_f_edsocial_educational,industry_f_edsocial_healthcare_socialassistance,industry_f_arts_entertainmentrec_accommodation_food,industry_f_artsaccom_arts_entertainmentrec,industry_f_artsaccom_accommodation_food,industry_f_otherservices_notpublicadmin,industry_f_publicadmin,occupation_sexbyoccupationcivilianpop_total_series,occupation_sexbyoccupationcivilianpop_totalmale,occupation_m_management,occupation_m_businessandfinancial,occupation_m_computerandmathematical,occupation_m_architectureandengineering,occupation_m_lifephysicalsocialscience,occupation_m_communityandsocialservices,occupation_m_legal,occupation_m_educationtrainingandlibrary,occupation_m_artsdesignentertainmentsportsandmedia,occupation_m_healthcarepractitionersandtechnical,occupation_m_healthcaresupport,occupation_m_protectiveservice,occupation_m_foodprepandserving,occupation_m_buildingandgroundscleaningandmaintenance,occupation_m_personalcareandservice,occupation_m_salesandrelated,occupation_m_officeandadmin,occupation_m_farmingfishingandforestry,occupation_m_constructionandextraction,occupation_m_installationmaintenanceandrepair,occupation_m_production,occupation_m_transportation,occupation_m_materialmoving,occupation_sexbyoccupationcivilianpop_totalfemale,occupation_f_management,occupation_f_businessandfinancial,occupation_f_computerandmathematical,occupation_f_architectureandengineering,occupation_f_lifephysicalsocialscience,occupation_f_communityandsocialservices,occupation_f_legal,occupation_f_educationtrainingandlibrary,occupation_f_artsdesignentertainmentsportsandmedia,occupation_f_healthcarepractitionersandtechnical,occupation_f_healthcaresupport,occupation_f_protectiveservice,occupation_f_foodprepandserving,occupation_f_buildingandgroundscleaningandmaintenance,occupation_f_personalcareandservice,occupation_f_salesandrelated,occupation_f_officeandadmin,occupation_f_farmingfishingandforestry,occupation_f_constructionandextraction,occupation_f_installationmaintenanceandrepair,occupation_f_production,occupation_f_transportation,occupation_f_materialmoving,language_languagebyabilitytospeakenglish_total5+_series,language_total_5to17,language_speakonlyenglish_5to17,language_speakspanish_5to17,language_speakspanish_speakenglishverywell_5to17,language_speakspanish_speakenglishwell_5to17,language_speakspanish_speakenglishnotwell_5to17,language_speakspanish_speakenglishnotatall_5to17,language_speakotherindoeuro_5to17,language_speakotherindoeuro_speakenglishverywell_5to17,language_speakotherindoeuro_speakenglishwell_5to17,language_speakotherindoeuro_speakenglishnotwell_5to17,language_speakotherindoeuro_speakenglishnotatall_5to17,language_speakasianpacificisland_5to17,language_speakasianpacificisland_speakenglishverywell_5to17,language_speakasianpacificisland_speakenglishwell_5to17,language_speakasianpacificisland_speakenglishnotwell_5to17,language_speakasianpacificisland_speakenglishnotatall_5to17,language_speakother_5to17,language_speakother_speakenglishverywell_5to17,language_speakother_speakenglishwell_5to17,language_speakother_speakenglishnotwell_5to17,language_speakother_speakenglishnotatall_5to17,language_total_18to64,language_speakonlyenglish_18to64,language_speakspanish_18to64,language_speakspanish_speakenglishverywell_18to64,language_speakspanish_speakenglishwell_18to64,language_speakspanish_speakenglishnotwell_18to64,language_speakspanish_speakenglishnotatall_18to64,language_speakotherindoeuro_18to64,language_speakotherindoeuro_speakenglishverywell_18to64,language_speakotherindoeuro_speakenglishwell_18to64,language_speakotherindoeuro_speakenglishnotwell_18to64,language_speakotherindoeuro_speakenglishnotatall_18to64,language_speakasianpacificisland_18to64,language_speakasianpacificisland_speakenglishverywell_18to64,language_speakasianpacificisland_speakenglishwell_18to64,language_speakasianpacificisland_speakenglishnotwell_18to64,language_speakasianpacificisland_speakenglishnotatall_18to64,language_speakother_18to64,language_speakother_speakenglishverywell_18to64,language_speakother_speakenglishwell_18to64,language_speakother_speakenglishnotwell_18to64,language_speakother_speakenglishnotatall_18to64,language_total_65+,language_speakonlyenglish_65+,language_speakspanish_65+,language_speakspanish_speakenglishverywell_65+,language_speakspanish_speakenglishwell_65+,language_speakspanish_speakenglishnotwell_65+,language_speakspanish_speakenglishnotatall_65+,language_speakotherindoeuro_65+,language_speakotherindoeuro_speakenglishverywell_65+,language_speakotherindoeuro_speakenglishwell_65+,language_speakotherindoeuro_speakenglishnotwell_65+,language_speakotherindoeuro_speakenglishnotatall_65+,language_speakasianpacificisland_65+,language_speakasianpacificisland_speakenglishverywell_65+,language_speakasianpacificisland_speakenglishwell_65+,language_speakasianpacificisland_speakenglishnotwell_65+,language_speakasianpacificisland_speakenglishnotatall_65+,language_speakother_65+,language_speakother_speakenglishverywell_65+,language_speakother_speakenglishwell_65+,language_speakother_speakenglishnotwell_65+,language_speakother_speakenglishnotatall_65+,veteran_total_series,veteran_total_veteran,veteran_total_nonveteran,veteran_male,veteran_m_veteran,veteran_m_nonveteran,veteran_m18to34,veteran_m18to34_veteran,veteran_m18to34_nonveteran,veteran_m35to54,veteran_m35to54_veteran,veteran_m35to54_nonveteran,veteran_m55to64,veteran_m55to64_veteran,veteran_m55to64_nonveteran,veteran_m65to74,veteran_m65to74_veteran,veteran_m65to74_nonveteran,veteran_m75+,veteran_m75+_veteran,veteran_m75+_nonveteran,veteran_female,veteran_f_veteran,veteran_f_nonveteran,veteran_f18to34,veteran_f18to34_veteran,veteran_f18to34_nonveteran,veteran_f35to54,veteran_f35to54_veteran,veteran_f35to54_nonveteran,veteran_f55to64,veteran_f55to64_veteran,veteran_f55to64_nonveteran,veteran_f65to74,veteran_f65to74_veteran,veteran_f65to74_nonveteran,veteran_f75+,veteran_f75+_veteran,veteran_f75+_nonveteran,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,traveltimemode_cartruckvan_drovealone,traveltimemode_cartruckvan_drovealone_lessthan10,traveltimemode_cartruckvan_drovealone_10to14,traveltimemode_cartruckvan_drovealone_15to19,traveltimemode_cartruckvan_drovealone_20to24,traveltimemode_cartruckvan_drovealone_25to29,traveltimemode_cartruckvan_drovealone_30to34,traveltimemode_cartruckvan_drovealone_35to44,traveltimemode_cartruckvan_drovealone_45to59,traveltimemode_cartruckvan_drovealone_60ormore,traveltimemode_cartruckvan_carpooled,traveltimemode_cartruckvan_carpooled_lessthan10,traveltimemode_cartruckvan_carpooled_10to14,traveltimemode_cartruckvan_carpooled_15to19,traveltimemode_cartruckvan_carpooled_20to24,traveltimemode_cartruckvan_carpooled_25to29,traveltimemode_cartruckvan_carpooled_30to34,traveltimemode_cartruckvan_carpooled_35to44,traveltimemode_cartruckvan_carpooled_45to59,traveltimemode_cartruckvan_carpooled_60ormore,traveltimemode_publictransportationexcludingtaxi,traveltimemode_publictransportationexcludingtaxi_lessthan10,traveltimemode_publictransportationexcludingtaxi_10to14,traveltimemode_publictransportationexcludingtaxi_15to19,traveltimemode_publictransportationexcludingtaxi_20to24,traveltimemode_publictransportationexcludingtaxi_25to29,traveltimemode_publictransportationexcludingtaxi_30to34,traveltimemode_publictransportationexcludingtaxi_35to44,traveltimemode_publictransportationexcludingtaxi_45to59,traveltimemode_publictransportationexcludingtaxi_60ormore,traveltimemode_taximotorcyclebicyclewalkedother,traveltimemode_taximotorcyclebicyclewalkedother_lessthan10,traveltimemode_taximotorcyclebicyclewalkedorother_10to14,traveltimemode_taximotorcyclebicyclewalkedorother_15to19,traveltimemode_taximotorcyclebicyclewalkedorother_20to24,traveltimemode_taximotorcyclebicyclewalkedorother_25to29,traveltimemode_taximotorcyclebicyclewalkedorother_30to34,traveltimemode_taximotorcyclebicyclewalkedorother_35to44,traveltimemode_taximotorcyclebicyclewalkedorother_45to59,traveltimemode_taximotorcyclebicyclewalkedorother_60ormore,nativitycitizenship_series_total,nativitycitizenship_uscitizen_bornus,nativitycitizenship_uscitizen_bornpuertoricoorusislands,nativitycitizenship_uscitizen_bornabroadamericanparents,nativitycitizenship_uscitizen_bynaturalization,nativitycitizenship_notuscitizen,attainment_totalbysex_over25_series,attainment_m,attainment_m_noschooling,attainment_m_nurseryschoolto4thgrade,attainment_m_5thto6thgrade,attainment_m_7thto8thgrade,attainment_m_9thgrade,attainment_m_10thgrade,attainment_m_11thgrade,attainment_m_12thgradenodiploma,attainment_m_highschooldiplomaorequivalent,attainment_m_somecollegelessthan1year,attainment_m_somecollege1ormoreyearsnodegree,attainment_m_associatesdegree,attainment_m_bachelorsdegree,attainment_m_mastersdegree,attainment_m_professionalschooldegree,attainment_m_doctoratedegree,attainment_f,attainment_f_noschooling,attainment_f_nurseryschoolto4thgrade,attainment_f_5thto6thgrade,attainment_f_7thto8thgrade,attainment_f_9thgrade,attainment_f_10thgrade,attainment_f_11thgrade,attainment_f_12thgradenodiploma,attainment_f_highschooldiplomaorequivalent,attainment_f_somecollegelessthan1year,attainment_f_somecollege1ormoreyearsnodegree,attainment_f_associatesdegree,attainment_f_bachelorsdegree,attainment_f_mastersdegree,attainment_f_professionalschooldegree,attainment_f_doctoratedegree,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60

In [52]:
data = new_df

In [53]:
data = data.set_index(['NAME', 'GEO_ID']).transpose()
data.head()

NAME,"Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Macon County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee","Allen County, Kentucky","Simpson County, Kentucky","Adams city, Tennessee","Ashland City town, Tennessee","Belle Meade city, Tennessee","Berry Hill city, Tennessee","Brentwood city, Tennessee","Burns town, Tennessee","Cedar Hill city, Tennessee","Charlotte town, Tennessee","Clarksville city, Tennessee","Columbia city, Tennessee","Coopertown town, Tennessee","Cross Plains city, Tennessee","Cumberland City town, Tennessee","Dickson city, Tennessee","Dover city, Tennessee","Eagleville city, Tennessee","Erin city, Tennessee","Fairview city, Tennessee","Forest Hills city, Tennessee","Franklin city, Tennessee","Gallatin city, Tennessee","Goodlettsville city, Tennessee","Greenbrier town, Tennessee","Hendersonville city, Tennessee","Kingston Springs town, Tennessee","Lafayette city, Tennessee","La Vergne city, Tennessee","Lebanon city, Tennessee","McEwen city, Tennessee","Millersville city, Tennessee","Mitchellville city, Tennessee","Mount Juliet city, Tennessee","Mount Pleasant city, Tennessee","Murfreesboro city, Tennessee","Nashville-Davidson metropolitan government (balance), Tennessee","New Johnsonville city, Tennessee","Nolensville town, Tennessee","Oak Hill city, Tennessee","Pegram town, Tennessee","Pleasant View city, Tennessee","Portland city, Tennessee","Ridgetop city, Tennessee","Slayden town, Tennessee","Smyrna town, Tennessee","Springfield city, Tennessee","Spring Hill city, Tennessee","Tennessee Ridge town, Tennessee","Thompson's Station town, Tennessee","Vanleer town, Tennessee","Watertown city, Tennessee","Waverly city, Tennessee","Westmoreland town, Tennessee","White Bluff town, Tennessee","White House city, Tennessee","Franklin city, Kentucky","Scottsville city, Kentucky",Tennessee,United States
GEO_ID,0500000US47021,0500000US47037,0500000US47043,0500000US47083,0500000US47085,0500000US47111,0500000US47119,0500000US47125,0500000US47147,0500000US47149,0500000US47161,0500000US47165,0500000US47169,0500000US47187,0500000US47189,0500000US21003,0500000US21213,1600000US4700200,1600000US4702180,1600000US4704620,1600000US4705140,1600000US4708280,1600000US4709880,1600000US4711980,1600000US4713080,1600000US4715160,1600000US4716540,1600000US4716980,1600000US4718420,1600000US4718820,1600000US4720620,1600000US4721400,1600000US4722360,1600000US4724320,1600000US4725440,1600000US4727020,1600000US4727740,1600000US4728540,1600000US4729920,1600000US4730960,1600000US4733280,1600000US4739660,1600000US4740160,1600000US4741200,1600000US4741520,1600000US4744840,1600000US4748980,1600000US4749460,1600000US4750780,1600000US4751080,1600000US4751560,1600000US4752006,1600000US4752820,1600000US4753460,1600000US4754780,1600000US4757480,1600000US4759560,1600000US4760280,1600000US4763140,1600000US4769080,1600000US4769420,1600000US4770500,1600000US4770580,1600000US4773460,1600000US4773900,1600000US4776860,1600000US4778320,1600000US4778560,1600000US4779420,1600000US4779980,1600000US4780200,1600000US2128918,1600000US2169114,0400000US47,0100000US
hhsize_avg,2.67,2.34,2.57,2.40,2.43,2.61,2.45,2.64,2.69,2.65,2.44,2.60,2.75,2.78,2.63,2.47,2.52,2.47,2.38,2.71,1.47,2.99,2.43,2.98,2.57,2.63,2.32,2.91,2.88,2.78,2.40,2.26,2.00,2.25,2.75,2.87,2.57,2.39,2.54,2.67,2.59,2.64,2.27,2.99,2.45,2.31,2.56,2.40,2.80,2.31,2.49,2.33,2.38,3.09,2.44,2.77,2.80,2.66,2.76,2.80,2.55,2.64,2.94,2.42,2.74,2.48,2.75,2.18,2.57,2.64,2.68,2.45,2.22,2.49,2.59
units_allhousing,15425,280062,20465,4163,8878,9743,34641,67511,25607,99507,6675,64071,3335,65903,43960,9136,7456,238,1647,1164,380,12155,747,136,418,52715,15888,1462,590,186,6258,816,279,757,2822,1756,24366,12981,6645,2352,20224,1092,2145,10932,10601,767,2600,88,8212,2307,43025,269280,862,1823,1881,875,1532,4500,672,94,15636,6778,8969,635,794,174,678,2052,1048,1272,3694,3698,1999,2769457,130038080
occupancy_total_series,15425,280062,20465,4163,8878,9743,34641,67511,25607,99507,6675,64071,3335,65903,43960,9136,7456,238,1647,1164,380,12155,747,136,418,52715,15888,1462,590,186,6258,816,279,757,2822,1756,24366,12981,6645,2352,20224,1092,2145,10932,10601,767,2600,88,8212,2307,43025,269280,862,1823,1881,875,1532,4500,672,94,15636,6778,8969,635,794,174,678,2052,1048,1272,3694,3698,1999,2769457,130038080
occupancy_occupiedunits,14198,252477,18889,3392,7555,8204,31745,60412,23793,92343,5383,59503,2814,62508,41221,7811,6667,229,1463,1068,318,11791,672,131,388,46512,14330,1394,569,126,5946,729,230,624,2729,1663,23200,11793,6088,2322,19101,1057,1899,10168,9749,715,2390,88,7807,1940,39295,242496,753,1734,1847,831,1414,4127,647,90,14645,6003,8646,574,711,163,587,1825,961,1167,3650,3256,1840,2443475,114235996
occupancy_vacantunits,1227,27585,1576,771,1323,1539,2896,7099,1814,7164,1292,4568,521,3395,2739,1325,789,9,184,96,62,364,75,5,30,6203,1558,68,21,60,312,87,49,133,93,93,1166,1188,557,30,1123,35,246,764,852,52,210,0,405,367,3730,26784,109,89,34,44,118,373,25,4,991,775,323,61,83,11,91,227,87,105,44,442,159,325982,15802084

In [54]:
numcols = list(data.columns)
numcols
data[numcols] = data[numcols].astype(float)

In [55]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [56]:
data = data.transpose().reset_index()
data.head()

,NAME,GEO_ID,hhsize_avg,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhtype_total_series,hhtype_familyhh,hhtype_familyhh_marriedcouplefam,hhtype_familyhh_otherfam,hhtype_familyhh_malenospouse,hhtype_familyhh_femalenospouse,hhtype_nonfamhh,hhtype_nonfamhh_householderalone,hhtype_nonfamhh_householdernotalone,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,housing_medianvalue,housingcost_medvalue_ownerocc,housingcost_medvalue_ownerocc_wmortgage,housingcost_medvalue_ownerocc_womortgage,housingcost_mediangrossrent_renteroccupied,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,foreignborn_total,fb_europe,fb_asia,fb_africa,fb_oceania,fb_americas,fb_am_latinamerica,fb_am_northern,classworker_total_series,classworker_privateforprofit,classworker_privateforprofit_employee,classworker_privateforprofit_selfemployedincorporatedbusiness,classworker_privatenotforprofit,classworker_localgovt,classworker_stategovt,classworker_federalgovt,classworker_selfemployednonincorporatedbusiness,classworker_unpaidfamilyworker,percapita_income,vehicles_tenurebyvehicles_total_series,vehicles_ownerocc_total,vehicles_ownerocc_novehicle,vehicles_ownerocc_1vehicle,vehicles_ownerocc_2vehicles,vehicles_ownerocc_3vehicles,vehicles_ownerocc_4vehicles,vehicles_ownerocc_5+vehicles,vehicles_renterocc_total,vehicles_renterocc_novehicle,vehicles_renterocc_1vehicle,vehicles_renterocc_2vehicles,vehicles_renterocc_3vehicles,vehicles_renterocc_4vehicles,vehicles_renterocc_5+vehicles,industry_sexbyindustrycivilianpop_total_series,industry_sexbyindustrycivilianpop_totalmale,industry_m_agriculture_forestry_fishing_hunting_mining,industry_m_agmining_agriculture_forestry_fishing_hunting,industry_m_agmining_mining_quarrying_oilandgas,industry_m_construction,industry_m_manufacturing,industry_m_wholesaletrade,industry_m_retailtrade,industry_m_transportation_warehousing_utilities,industry_m_transut_transportation_warehousing,industry_m_transut_utilities,industry_m_information,industry_m_finance_insurance_realestate_rental,industry_m_finrent_finance_insurance,industry_m_finrent_realestate_rental,industry_m_professional_scientific_managementadmin_waste,industry_m_profwaste_professional_scientific_technicalservices,industry_m_profwaste_managementcompaniesenterprises,industry_m_adminandsupportandwaste,industry_m_educational_healthcare_socialassistance,industry_m_edsocial_educational,industry_m_edsocial_healthcare_socialassistance,industry_m_arts_entertainmentrec_accommodation_food,industry_m_artsaccom_arts_entertainmentrec,industry_m_artsaccom_accommodation_food,industry_m_otherservices_notpublicadmin,industry_m_publicadmin,industry_sexbyindustrycivilianpop_totalfemale,industry_f_agriculture_forestry_fishing_hunting_mining,industry_f_agmining_agriculture_forestry_fishing_hunting,industry_f_agmining_mining_quarrying_oilandgas,industry_f_construction,industry_f_manufacturing,industry_f_wholesaletrade,industry_f_retailtrade,industry_f_transportation_warehousing_utilities,industry_f_transut_transportation_warehousing,industry_f_transut_utilities,industry_f_information,industry_f_finance_insurance_realestate_rental,industry_f_finrent_finance_insurance,industry_f_finrent_realestate_rental,industry_f_professional_scientific_managementadmin_waste,industry_f_profwaste_professional_scientific_technicalservices,industry_f_profwaste_managementcompaniesenterprises,industry_f_adminandsupportandwaste,industry_f_educational_healthcare_socialassistance,industry_f_edsocial_educational,industry_f_edsocial_healthcare_socialassistance,industry_f_arts_entertainmentrec_accommodation_food,industry_f_artsaccom_arts_entertainmentrec,industry_f_artsaccom_accommodation_food,industry_f_otherservices_notpublicadmin,industry_f_publicadmin,occupation_sexbyoccupationcivilianpop_total_series,occupation_sexbyoccupationcivilianpop_totalmale,occupation_m_management,occupation_m_businessandfinancial,occupation_m_computerandmathematical,occupation_m_architectureandengineering,occupation_m_lifephysicalsocialscience,occupation_m_communityandsocialservices,occupation_m_legal,occupation_m_educationtrainingandlibrary,occupation_m_artsdesignentertainmentsportsandmedia,occupation_m_healthcarepractitionersandtechnical,occupation_m_healthcaresupport,occupation_m_protectiveservice,occupation_m_foodprepandserving,occupation_m_buildingandgroundscleaningandmaintenance,occupation_m_personalcareandservice,occupation_m_salesandrelated,occupation_m_officeandadmin,occupation_m_farmingfishingandforestry,occupation_m_constructionandextraction,occupation_m_installationmaintenanceandrepair,occupation_m_production,occupation_m_transportation,occupation_m_materialmoving,occupation_sexbyoccupationcivilianpop_totalfemale,occupation_f_management,occupation_f_businessandfinancial,occupation_f_computerandmathematical,occupation_f_architectureandengineering,occupation_f_lifephysicalsocialscience,occupation_f_communityandsocialservices,occupation_f_legal,occupation_f_educationtrainingandlibrary,occupation_f_artsdesignentertainmentsportsandmedia,occupation_f_healthcarepractitionersandtechnical,occupation_f_healthcaresupport,occupation_f_protectiveservice,occupation_f_foodprepandserving,occupation_f_buildingandgroundscleaningandmaintenance,occupation_f_personalcareandservice,occupation_f_salesandrelated,occupation_f_officeandadmin,occupation_f_farmingfishingandforestry,occupation_f_constructionandextraction,occupation_f_installationmaintenanceandrepair,occupation_f_production,occupation_f_transportation,occupation_f_materialmoving,language_languagebyabilitytospeakenglish_total5+_series,language_total_5to17,language_speakonlyenglish_5to17,language_speakspanish_5to17,language_speakspanish_speakenglishverywell_5to17,language_speakspanish_speakenglishwell_5to17,language_speakspanish_speakenglishnotwell_5to17,language_speakspanish_speakenglishnotatall_5to17,language_speakotherindoeuro_5to17,language_speakotherindoeuro_speakenglishverywell_5to17,language_speakotherindoeuro_speakenglishwell_5to17,language_speakotherindoeuro_speakenglishnotwell_5to17,language_speakotherindoeuro_speakenglishnotatall_5to17,language_speakasianpacificisland_5to17,language_speakasianpacificisland_speakenglishverywell_5to17,language_speakasianpacificisland_speakenglishwell_5to17,language_speakasianpacificisland_speakenglishnotwell_5to17,language_speakasianpacificisland_speakenglishnotatall_5to17,language_speakother_5to17,language_speakother_speakenglishverywell_5to17,language_speakother_speakenglishwell_5to17,language_speakother_speakenglishnotwell_5to17,language_speakother_speakenglishnotatall_5to17,language_total_18to64,language_speakonlyenglish_18to64,language_speakspanish_18to64,language_speakspanish_speakenglishverywell_18to64,language_speakspanish_speakenglishwell_18to64,language_speakspanish_speakenglishnotwell_18to64,language_speakspanish_speakenglishnotatall_18to64,language_speakotherindoeuro_18to64,language_speakotherindoeuro_speakenglishverywell_18to64,language_speakotherindoeuro_speakenglishwell_18to64,language_speakotherindoeuro_speakenglishnotwell_18to64,language_speakotherindoeuro_speakenglishnotatall_18to64,language_speakasianpacificisland_18to64,language_speakasianpacificisland_speakenglishverywell_18to64,language_speakasianpacificisland_speakenglishwell_18to64,language_speakasianpacificisland_speakenglishnotwell_18to64,language_speakasianpacificisland_speakenglishnotatall_18to64,language_speakother_18to64,language_speakother_speakenglishverywell_18to64,language_speakother_speakenglishwell_18to64,language_speakother_speakenglishnotwell_18to64,language_speakother_speakenglishnotatall_18to64,language_total_65+,language_speakonlyenglish_65+,language_speakspanish_65+,language_speakspanish_speakenglishverywell_65+,language_speakspanish_speakenglishwell_65+,language_speakspanish_speakenglishnotwell_65+,language_speakspanish_speakenglishnotatall_65+,language_speakotherindoeuro_65+,language_speakotherindoeuro_speakenglishverywell_65+,language_speakotherindoeuro_speakenglishwell_65+,language_speakotherindoeuro_speakenglishnotwell_65+,language_speakotherindoeuro_speakenglishnotatall_65+,language_speakasianpacificisland_65+,language_speakasianpacificisland_speakenglishverywell_65+,language_speakasianpacificisland_speakenglishwell_65+,language_speakasianpacificisland_speakenglishnotwell_65+,language_speakasianpacificisland_speakenglishnotatall_65+,language_speakother_65+,language_speakother_speakenglishverywell_65+,language_speakother_speakenglishwell_65+,language_speakother_speakenglishnotwell_65+,language_speakother_speakenglishnotatall_65+,veteran_total_series,veteran_total_veteran,veteran_total_nonveteran,veteran_male,veteran_m_veteran,veteran_m_nonveteran,veteran_m18to34,veteran_m18to34_veteran,veteran_m18to34_nonveteran,veteran_m35to54,veteran_m35to54_veteran,veteran_m35to54_nonveteran,veteran_m55to64,veteran_m55to64_veteran,veteran_m55to64_nonveteran,veteran_m65to74,veteran_m65to74_veteran,veteran_m65to74_nonveteran,veteran_m75+,veteran_m75+_veteran,veteran_m75+_nonveteran,veteran_female,veteran_f_veteran,veteran_f_nonveteran,veteran_f18to34,veteran_f18to34_veteran,veteran_f18to34_nonveteran,veteran_f35to54,veteran_f35to54_veteran,veteran_f35to54_nonveteran,veteran_f55to64,veteran_f55to64_veteran,veteran_f55to64_nonveteran,veteran_f65to74,veteran_f65to74_veteran,veteran_f65to74_nonveteran,veteran_f75+,veteran_f75+_veteran,veteran_f75+_nonveteran,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,traveltimemode_cartruckvan_drovealone,traveltimemode_cartruckvan_drovealone_lessthan10,traveltimemode_cartruckvan_drovealone_10to14,traveltimemode_cartruckvan_drovealone_15to19,traveltimemode_cartruckvan_drovealone_20to24,traveltimemode_cartruckvan_drovealone_25to29,traveltimemode_cartruckvan_drovealone_30to34,traveltimemode_cartruckvan_drovealone_35to44,traveltimemode_cartruckvan_drovealone_45to59,traveltimemode_cartruckvan_drovealone_60ormore,traveltimemode_cartruckvan_carpooled,traveltimemode_cartruckvan_carpooled_lessthan10,traveltimemode_cartruckvan_carpooled_10to14,traveltimemode_cartruckvan_carpooled_15to19,traveltimemode_cartruckvan_carpooled_20to24,traveltimemode_cartruckvan_carpooled_25to29,traveltimemode_cartruckvan_carpooled_30to34,traveltimemode_cartruckvan_carpooled_35to44,traveltimemode_cartruckvan_carpooled_45to59,traveltimemode_cartruckvan_carpooled_60ormore,traveltimemode_publictransportationexcludingtaxi,traveltimemode_publictransportationexcludingtaxi_lessthan10,traveltimemode_publictransportationexcludingtaxi_10to14,traveltimemode_publictransportationexcludingtaxi_15to19,traveltimemode_publictransportationexcludingtaxi_20to24,traveltimemode_publictransportationexcludingtaxi_25to29,traveltimemode_publictransportationexcludingtaxi_30to34,traveltimemode_publictransportationexcludingtaxi_35to44,traveltimemode_publictransportationexcludingtaxi_45to59,traveltimemode_publictransportationexcludingtaxi_60ormore,traveltimemode_taximotorcyclebicyclewalkedother,traveltimemode_taximotorcyclebicyclewalkedother_lessthan10,traveltimemode_taximotorcyclebicyclewalkedorother_10to14,traveltimemode_taximotorcyclebicyclewalkedorother_15to19,traveltimemode_taximotorcyclebicyclewalkedorother_20to24,traveltimemode_taximotorcyclebicyclewalkedorother_25to29,traveltimemode_taximotorcyclebicyclewalkedorother_30to34,traveltimemode_taximotorcyclebicyclewalkedorother_35to44,traveltimemode_taximotorcyclebicyclewalkedorother_45to59,traveltimemode_taximotorcyclebicyclewalkedorother_60ormore,nativitycitizenship_series_total,nativitycitizenship_uscitizen_bornus,nativitycitizenship_uscitizen_bornpuertoricoorusislands,nativitycitizenship_uscitizen_bornabroadamericanparents,nativitycitizenship_uscitizen_bynaturalization,nativitycitizenship_notuscitizen,attainment_totalbysex_over25_series,attainment_m,attainment_m_noschooling,attainment_m_nurseryschoolto4thgrade,attainment_m_5thto6thgrade,attainment_m_7thto8thgrade,attainment_m_9thgrade,attainment_m_10thgrade,attainment_m_11thgrade,attainment_m_12thgradenodiploma,attainment_m_highschooldiplomaorequivalent,attainment_m_somecollegelessthan1year,attainment_m_somecollege1ormoreyearsnodegree,attainment_m_associatesdegree,attainment_m_bachelorsdegree,attainment_m_mastersdegree,attainment_m_professionalschooldegree,attainment_m_doctoratedegree,attainment_f,attainment_f_noschooling,attainment_f_nurseryschoolto4thgrade,attainment_f_5thto6thgrade,attainment_f_7thto8thgrade,attainment_f_9thgrade,attainment_f_10thgrade,attainment_f_11thgrade,attainment_f_12thgradenodiploma,attainment_f_highschooldiplomaorequivalent,attainment_f_somecollegelessthan1year,attainment_f_somecollege1ormoreyearsnodegree,attainment_f_associatesdegree,attainment_f_bachelorsdegree,attainment_f_mastersdegree,attainment_f_professionalschooldegree,attainment_f_doctoratedegree,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Columns: 2380 entries, NAME to earn_fulltime_ median_test2
dtypes: float64(2378), object(2)
memory usage: 1.6+ MB

In [59]:
data.to_feather('../../Raw Data/ACS20105YR')