In [33]:
import pandas as pd
import sqlite3 as sq

In [7]:
CensusBureau_ACS5SUBJ_2000 = pd.read_feather('../../Outputs/CensusBureau_ACS5SUBJ_2000')
CensusBureau_ACS5SUBJ_2010 = pd.read_feather('../../Outputs/CensusBureau_ACS5SUBJ_2010')
CensusBureau_ACS5SUBJ_2021 = pd.read_feather('../../Outputs/CensusBureau_ACS5SUBJ_2021')
CensusBureau_SF1_2000 = pd.read_feather('../../Outputs/CensusBureau_SF1_2000')
CensusBureau_SF3_2000 = pd.read_feather('../../Outputs/CensusBureau_SF3_2000')
CensusBureau_SF1_2010 = pd.read_feather('../../Outputs/CensusBureau_SF1_2010')
CensusBureau_PL_2020 = pd.read_feather('../../Outputs/CensusBureau_PL_2020')
CensusBureau_ACS5_2021 = pd.read_feather('../../Outputs/CensusBureau_ACS5_2021')
CensusBureau_ACS5_2010 = pd.read_feather('../../Outputs/CensusBureau_ACS5_2010')
#  = pd.read_feather('../../Outputs/')
#  = pd.read_feather('../../Outputs/')

In [8]:
dfs = [CensusBureau_ACS5SUBJ_2000, CensusBureau_ACS5SUBJ_2010, CensusBureau_ACS5SUBJ_2021, CensusBureau_SF1_2000, CensusBureau_SF3_2000, 
       CensusBureau_SF1_2010, CensusBureau_PL_2020, CensusBureau_ACS5_2021, CensusBureau_ACS5_2010]

In [27]:
id_vars, value_name, var_name, excluded_cols = ['NAME', 'GEO_ID', 'Source'], 'Value', 'Variable', ['NAME', 'GEO_ID', 'Source']

In [28]:
melted_dfs = []
for df in dfs:
    cols = list(df.drop(excluded_cols, axis = 1).columns)
    melted_df = pd.melt(df, id_vars=id_vars, value_vars=cols, var_name=var_name, value_name=value_name)
    melted_dfs.append(melted_df)
concatted = pd.concat(melted_dfs, ignore_index = True)
data = pd.DataFrame(concatted, dtype = str)

In [31]:
data.tail()

,NAME,GEO_ID,Source,Variable,Value
364981,Dickson Unincorporated,None,2006-2010 ACS 5YR,Median Home Value Owner Occupied,0.0
364982,Humphreys Incorporated,None,2006-2010 ACS 5YR,Median Home Value Owner Occupied,0.0
364983,Humphreys Unincorporated,None,2006-2010 ACS 5YR,Median Home Value Owner Occupied,0.0
364984,Montgomery Incorporated,None,2006-2010 ACS 5YR,Median Home Value Owner Occupied,0.0
364985,Montgomery Unincorporated,None,2006-2010 ACS 5YR,Median Home Value Owner Occupied,0.0

In [35]:
conn = sq.connect('../../Outputs/DataBank.db')
data.to_sql('MasterTidy', conn, if_exists = 'replace', index = False)

364986