In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
def percent(x, y):
    return (x/y)*100

# LAUS  
This outlines how to retrieve labor force statistics from the Local Area Unemployment Statistics via JobsEQ.  

Beginning at data explorer, select annual data. Select "Region" and populate with US, Tennessee, GNRC, MPO, GNRC Region, and then under GNRC Region "Counties". Select "Year/Month" data and choose your range (2000 - recent) and then select the value "Unemployment Rate".  

When you've downloaded this csv, open it and replace the title row with the year (as all of the values are unemployment rates), delete the header and data notes, rename region to "NAME", and select all of the rates and make them "General" format. You can also quickly delimit the NAMEs to remove the ", Tennessee" off of the end of the counties and change "USA" to "US". This can also be done here, of course.

In [10]:
data = pd.read_csv('../../Data Downloads/JobsEQLAUS.csv')

In [11]:
cols = data.columns

In [12]:
data = data.melt(var_name = 'Year', id_vars = ['NAME'], value_vars = cols, value_name = 'Unemployment Rate')

In [13]:
data['Unemployment Rate'] = data['Unemployment Rate'] * 100

In [14]:
data.head()

          NAME  Year  Unemployment Rate
0           US  2000           4.049995
1    Tennessee  2000           3.869428
2         GNRC  2000           3.151818
3          MPO  2000           3.068643
4  GNRC Region  2000           3.167765

In [15]:
data.to_csv('../../Outputs/JOBSEQ_LAUS.csv', index = False)